<!doctype html>
<html>
  <head>
    <title>Basic Chat Application</title>
    <script src="angular.min.js"></script>
    <script src="papaparse.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="/sachin.js"></script>
    <link rel="stylesheet" href="/sachin.css">

    <meta charset=utf-8 />
  </head>
  <body>
    <h1>
      Sachin Tendulkar in Onday Internationls
    </h1>
    <div class="container"ng-app="stats" ng-controller="statsController" ng-init="types= ['Total','EachInnings','InOutHome','WinningLosing','BeforeAfter2000','SpecialCase','Against Each Team']">
      <ul class="nav nav-pills">
        <li ng-repeat="type in types" ng-class="{active:isSet(type)}"><a href ng-click="setTab(type)">{{getTabTitle(type)}}</a></li>
      </ul>
      <record-tab ng-show="isSet('Total')" title="'Overall Stats'" src="getStat('total')"></record-tab>
      <h4 ng-show="isSet('Total')">
        Look at the overall numbers,it doesnt look anyone is gonna touch those in future.Well he is great to have scored so much.
        Has he performed in all conditions?,Check that by switching tabs!.
      </h4>
      <div ng-show="isSet('EachInnings')">
        <record-tab title="'While Batting first'" src="getStat('overAllBattingFirst')"></record-tab>
        <record-tab title="'While Batting second'" src="getStat('overAllBattingSecond')"></record-tab>
        <h4 >
          Well he has scored almost half of his runs while batting second.We may say,he was a bit less prolific in second innings,but its not always you get to bat full overs while batting second!!.
        </h4>
      </div>

      <div ng-show="isSet('InOutHome')">
        <record-tab title="'While Playing in India'" src="getStat('inIndia')"></record-tab>
        <record-tab title="'While playing outside India'" src="getStat('outSideIndia')"></record-tab>
        <h4 >
          The ratio of matches he played at home to outside is a bit more than 1:2,so is his each part of stat :).
          Well he dominated all the conditions.
        </h4>
      </div>

      <div ng-show="isSet('WinningLosing')">
        <record-tab title="'Winning cause'" src="getStat('winningCause')"></record-tab>
        <record-tab title="'Losing cause'" src="getStat('losingCause')"></record-tab>
        <h4>
          How much did he contribute in team's success? Thats pretty too much.!!k runs with average rising above 56.
          That is to say,whenever he performed India won.
        </h4>
      </div>

      <div ng-show="isSet('BeforeAfter2000')">
        <record-tab title="'Before 2000'" src="getStat('beforeTwoK')"></record-tab>
        <record-tab title="'After 2000'" src="getStat('afterTwoK')"></record-tab>
        <h4>
          They say form is temporary but class is permanent.So,he we see,how he was equally effective in both the halves of his career.
          Well the average suggests,he got even better with age.
        </h4>
      </div>

      <record-tab ng-show="isSet('SpecialCase')" title="'Chased and and won it for team'" src="getStat('secondInningsWon')"></record-tab>
      <h4 ng-show="isSet('SpecialCase')">
        This can be a special measuring parameter,India chased and won.How was his contribution in that.
        Average of 55 says everything.
      </h4>

      <div ng-show="isSet('Against Each Team')">
        <record-tab ng-repeat="team in getTeams()" title="team" src="getTeamStat(team)"></record-tab>
        <h4>
          Yeah! He was equally prolific against each Nation.Look at his stats against mighty australians.
          May be he was sole batting carrier against them in 90s.
        </h4>
      </div>

    </div>
  </body>
</html>
